@using TrainTicketsWebApp.Models.Dto
@* @model List<SearchTourResult> *@
	@model SearchTourModelView

<table class="table table-bordered table-striped" style="width: 100%">
	<thead>
		<tr>
			<th>
				Skąd
			</th>
			<th>
				Dokąd
			</th>
			<th>
				Data odjazdu
			</th>
			<th>
				Data przyjazdu
			</th>
			<th>
				Typ pociągu
			</th>
			<th>
				Dostępność miejsc
			</th>
			<th>

			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.SearchResultList)
		{
			<tr>
				<td>
					@item.From
				</td>
				<td>
					@item.To
				</td>
				<td>
					@item.DepartureTime
				</td>
				<td>
					@item.ArrivalTime
				</td>
				<td>
					@item.TrainType
				</td>
				<td>
					@item.PlacesAvailable
				</td>
				<td>
					@if (item.PlacesAvailable > 0)
					{
						<form method="post" asp-controller="Tour" asp-action="Reservation">
							<input hidden name="TripId" value="@item.TripId" />
							<input hidden name="From" value="@item.From"/>
							<input hidden name="To" value="@item.To" />
							<input hidden name="DepartureTime" value="@item.DepartureTime" />
							<input hidden name="ArrivalTime" value="@item.ArrivalTime" />
							<input hidden name="TrainType" value="@item.TrainType" />
							<input hidden name="To" value="@item.To" />
							<input hidden name="SegmentNumberFrom" value="@item.SegmentNumberFrom" />
							<input hidden name="SegmentNumberTo" value="@item.SegmentNumberTo" />
						
						<button class="btn btn-info" type="submit">Kup bilet</button>

						</form>
					}
					else
					{
						<buton class="btn btn-secondary" disabled>Kup bilet</buton>
					}

				</td>
			</tr>
		}
	</tbody>
</table>